.hot_brand {
  background: white;
  margin-top: 1rem;
  .title {
    height: 2.5rem;
    line-height: 2.5rem;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    h2 {
      padding: 0 0 0 1rem;
      color: #868686;
      font-size: 1.2rem;
      border-left: 0.5rem solid #fa4d4d;
    }
    a {
      position: absolute;
      right: 1rem;
      top:0;
      line-height: 2.5rem;
      color: #fa4d4d;
      background: none;
    }
  }
  .list {
    width: 100%;
    text-align: center;
    li {
      width: 16.6%;
      height: 6rem;
      line-height: 6rem;
      display: inline-block;
      a {
        display: block;
        p{
          display:inline-block;
          color:#fff;
          background-color:#fc4d4d;
          height:2rem;
          line-height:2rem;
          width:60%;
          border-radius:5px;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
