.free_upgrade_config{
  box-sizing:border-box;
  padding:0 10px 10px;
  float:left;
  width:100%;
  background:#fff;
  .container{
    box-sizing:border-box;
    background:#eeeeee;
    
    float:left;
    width:100%;
    p{
      width:120px;
      float:left;
      text-align:center;
      font-size:14px;
      color:#999999;
      font-weight:bold;
      font-style:italic;
      margin-top:14px;
      em{
        color:#fa4d4d;
        font-style:italic;
      }
    }
    ul{
      margin-left:120px;
      li{
        line-height:16px;
        padding-left:16px;
        background:url("../../images/my_order/red_confirm.png") no-repeat left center;
        background-size:13px 14px;
      }
    }
  }
}
